body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  float: left;
  width: 100%;
  margin-top: 30px;
  display:block;
}

.container li {
  display: inline-block;
  font-size: 14px;
  margin: 0 25px 50px 0;
}

.layer {
  width: 960px;
  margin: auto;
}

.profile, .activity, .playshop {
  height: 960px;
  width: 340px;
  display: block;
}

.profile-img {
  float: left;
}

.profile-text {
  float: right;
  margin: 20px 110px 0 0;
  line-height: 120%;
}

.namae {
  font-size: 20px;
  font-weight: bold;
}

.shozoku {
  font-size: 12px;
  color: #8d8f8f;
}

/* activity */

.activity p, .playshop p {
  font-size: 16px;
  color: #8d8f8f;
  margin-bottom: 30px;
}

/* sharepayment-playshop */
.card {
  width: 326px;
  height: 460px;
  border: 3px solid #8d8f8f;
  border-radius: 5px;
  box-shadow: 0 5px 3px -3px rgba(0,0,0,0.4);
  background-color: #fff;
}

.card-img {
  margin-bottom: 20px;
}

.info {
  float: left;
  margin-left: 20px;
  font-size: 12px;
  color: #8d8f8f;
}

.price {
  float: right;
  margin-right: 40px;
  font-size: 12px;
}

.card-info h3 {
  clear: both;
  text-align: center;
  padding-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

.card-info p {
  width: 280px;
  height: 60px;
  margin: auto;
  font-size: 12px;
  margin-top: 20px;
  line-height: 150%;
}

.card-line {
  margin: 10px 0px 15px 14px;
}

.card-icon {
  margin-left: 40px;
}

.nametag {
  float: right;
  margin: 10px 140px 0 0;
  line-height: 120%
}

.nametag .namae {
  font-size: 14px;
}

.nametag .shozoku {
  font-size: 12px;
  color: #8d8f8f;
}
