
header {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
}

.header-logo {
  float: left;
  margin: 13px 0px 0px 10px;
}

.header-menu {
  float: left;
  width: 300px;
  height: 50px;
  margin: 10px 0px 0px 10px;
}

.header-menu li {
  display: inline-block;
  margin: 20px 0 0 20px;
}

.header-search {
    float: left;
    margin: 27px 0 0 -5px;
}

.header-icon {
    float: right;
    margin: 10px 55px 0px 4px;
}

.color-grey {
  color: #8d8f8f;
  margin: 10 10 10 10;
}

.header-arrow {
    float: right;
    margin: 30px -95px 0px 10px;
}
.header-menu span {
  background: #ED65C8;
  height: 5px;
  display: block;
  position: absolute;
  width: 50px;
  left: 0;
}

.header-profile {
  float: right;
}
