body {
  font-family: 'Open Sans', sans-serif;
  min-width: 1100px;
  max-width: 1366px;
}

.payment-left {
  width: 40%;
  height: 640px;
  float: left;
}

.payment-right {
  width: 60%;
  height: 640px;
  float: right;
}

.submit-button {
  width: 100%;
  height: 320px;
  clear: both;
}

/* payment-card */

.card {
  width: 326px;
  height: 460px;
  border: 3px solid #8d8f8f;
  border-radius: 5px;
  box-shadow: 0 5px 3px -3px rgba(0,0,0,0.4);
  margin: auto;
  margin-top: 15%;
  background-color: #fff;
}

.card:hover {
  opacity: 0.8;
  cursor: pointer;
}
.card-img {
  margin-bottom: 20px;
}

.info {
  float: left;
  margin-left: 20px;
  font-size: 12px;
  color: #8d8f8f;
}

.price {
  float: right;
  margin-right: 40px;
  font-size: 12px;
}

.card-info h3 {
  clear: both;
  text-align: center;
  padding-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

.card-info p {
  width: 280px;
  height: 60px;
  margin: auto;
  font-size: 12px;
  margin-top: 20px;
  line-height: 150%;
}

.card-line {
  margin: 10px 0px 15px 14px;
}

.card-icon {
  margin-left: 40px;
}

.nametag {
  float: right;
  margin: 10px 140px 0 0;
  line-height: 120%
}

.nametag .namae {
  font-size: 14px;
}

.nametag .shozoku {
  font-size: 12px;
  color: #8d8f8f;
}

.payment-nav {
  float: left;
  width: 100%;
  display: block;
}

.payment-nav li {
  display: inline-block;
  font-size: 16px;
  margin-top: 10%;
  padding: 0 20px 0 20px;
}

/* payment-form */

.payment-right input {
  padding:10px;
  font-size:12px;
  font-family:Arial, sans-serif;
  color:#aaa;
  border:solid 1px #f26ecf;
  border-radius: 5px;
  margin:0 0 20px;
  width:400px;
  -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}

textarea {
  padding:10px;
  font-size:12px;
  font-family:Arial, sans-serif;
  color:#aaa;
  border:solid 1px #f26ecf;
  border-radius: 5px;
  margin:0 0 20px;
  width:400px;
  -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}

.recipant-form {
  margin: 0 0 0 22px;
  width: 640px;
  height: 460px;
  margin-top: 18%;
}

.nav-category {
  cursor: pointer;
}

/* jQuery */
.hide {
  display: none;
}

/* button */
@font-face {
  font-family: "LigatureSymbols";
  src: url("../font/LigatureSymbols-2.11.eot");
  src: url("../font/LigatureSymbols-2.11.eot?#iefix") format("embedded-opentype"),
           url("../font/LigatureSymbols-2.11.woff") format("woff"),
           url("../font/LigatureSymbols-2.11.ttf") format("truetype"),
           url("../font/LigatureSymbols-2.11.svg#LigatureSymbols") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*------------------------------------------
// User style start
// change
----------------------------------------- */

.general-button  {
  border-radius: 9px;
  background-color: #f26ecf;
}

.general-button:before  {
  border-radius: 9px;
  border-bottom: 0px solid rgba(224,20,170, 0);
  background-color: rgba(224,20,170, 0);
}

.button-content  {
  border-radius: 0px 0px 9px 9px;
  padding: 12px 8.5px;
  box-shadow: 0px 0px 0px 0px rgba(224,20,170, 0);
  color: #f8f8f8;
}

.button-text  {
  padding: 0px 8.5px;
  line-height: 1.6em;
  font-size: 17px;
}

.icon-font  {
  padding: 0px 8.5px;
  font-size: 27px;
}

/*----------------- at hover -----------------*/

.general-button:hover  {
  top: -2px;
  transition: all 59ms;
  -moz-transition: all 59ms;
  -webkit-transition: all 59ms;
  -o-transition: all 59ms;
  background-color: #f37cd3;
}

.general-button:hover:before  {
  border-bottom: 2px solid rgba(224,20,170, 0);
  transition: all 59ms;
  -moz-transition: all 59ms;
  -webkit-transition: all 59ms;
  -o-transition: all 59ms;
}

.general-button:hover .button-content  {
  box-shadow: 0px 2px 0px 0px rgba(224,20,170, 1);
  transition: all 59ms;
  -moz-transition: all 59ms;
  -webkit-transition: all 59ms;
  -o-transition: all 59ms;
}

/*----------------- at active -----------------*/

.general-button:active  {
  background-color: #ef56c7;
  box-shadow: 0px 1.4px 0px 0px rgba(201,18,152, 1) inset;
}

.general-button:active:before  {
  top: -2px;
  padding-bottom: 2px;
  border-bottom: 0px solid rgba(224,20,170, 0);
}

.general-button:active .button-content  {
  box-shadow: 0px 0px 0px 0px rgba(224,20,170, 0);
}

/*------------------------------------------
// User style end
----------------------------------------- */

/*------------------------------------------
// Core style start
// not change
----------------------------------------- */

.general-button  {
  display: -moz-inline-box;
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;transition: all 0ms;
  -moz-transition: all 0ms;
  -webkit-transition: all 0ms;
  -o-transition: all 0ms;position: relative;
  top: 0px;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  left: 70%
}

.general-button:before  {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button-content  {
  display: table;
  transition: all 0ms;
  -moz-transition: all 0ms;
  -webkit-transition: all 0ms;
  -o-transition: all 0ms;
}

.button-text  {
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
}

/*----------------- at hover -----------------*/

.general-button:hover  {
  transition-timing-function: ease-in-out;
}

.general-button:hover:before  {
  transition-timing-function: ease-in-out;
}

.general-button:hover .button-content  {
  transition-timing-function: ease-in-out;
}

/*----------------- at active -----------------*/

.general-button:active  {
  top: 0px;
  transition: all 0ms;
  -moz-transition: all 0ms;
  -webkit-transition: all 0ms;
  -o-transition: all 0ms;
}

.general-button:active:before  {
  transition: all 0ms;
  -moz-transition: all 0ms;
  -webkit-transition: all 0ms;
  -o-transition: all 0ms;
}

.general-button:active .button-content  {
  transition: all 0ms;
  -moz-transition: all 0ms;
  -webkit-transition: all 0ms;
  -o-transition: all 0ms;
}

/*------------------------------------------
// Core style end
----------------------------------------- */

/*------------------------------------------
// Touch style start
----------------------------------------- */

/*----------------- at hover -----------------*/

.touch .general-button:hover  {
  top: 0px;
  background-color: #f26ecf;
}

.touch .general-button:hover:before  {
  border-bottom: 0px solid rgba(224,20,170, 0);
}

.touch .general-button:hover .button-content  {
  box-shadow: 0px 0px 0px 0px rgba(224,20,170, 1);

}

/*----------------- at active -----------------*/

.touch .general-button:active  {
  background-color: #ef56c7;
  box-shadow: 0px 1.4px 0px 0px rgba(201,18,152, 1) inset;
}

.touch .general-button:active:before  {
  top: -2px;
  padding-bottom: 2px;
  border-bottom: 0px solid rgba(224,20,170, 0);
}

.touch .general-button:active .button-content  {
  box-shadow: 0px 0px 0px 0px rgba(224,20,170, 0);
}

/*------------------------------------------
// Touch style end
----------------------------------------- */
