body {
  font-family: 'Open Sans', sans-serif;
  min-width: 1200px;
  max-width: 1366px;
}

.layer {
  width: 960px;
  margin: auto;
}

.layer h1 {
  font-size: 32px;
  color: #f26ecf;
  margin: 100px 0 40px 0;
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

p {
  font-size: 12px;
  margin-bottom: 30px;
}

.update-email {
  width: 100%;
  height: 555px;
}

.update-password {
  width: 100%;
  height: 540px;
}

.update-photo {
  width: 100%;
  height: 640px;
}

.layer input {
  border: solid 1px #f098ee;
  border-radius: 3px;
  padding: 10px;
}

.layer h2 {
  font-size: 20px;
}

.layer li {
  margin-top: 40px;
}

.layer label {
  font-size: 12px;
  color: #8d8f8f;
}

.shop-comment-area {
  text-align: center;
  margin-top: 300px;
}

/* button */
@font-face {
  font-family: "LigatureSymbols";
  src: url("../font/LigatureSymbols-2.11.eot");
  src: url("../font/LigatureSymbols-2.11.eot?#iefix") format("embedded-opentype"),
           url("../font/LigatureSymbols-2.11.woff") format("woff"),
           url("../font/LigatureSymbols-2.11.ttf") format("truetype"),
           url("../font/LigatureSymbols-2.11.svg#LigatureSymbols") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*------------------------------------------
// User style start
// change
----------------------------------------- */

.general-button  {
  border-radius: 7px;
  background-color: #f26ecf;

}

.general-button:before  {
  border-radius: 7px;
  border-bottom: 0px solid rgba(237,63,191, 0);
  background-color: rgba(237,63,191, 0);
}

.button-content  {
  border-radius: 0px 0px 7px 7px;
  padding: 10px 13px;
  box-shadow: 0px 0px 0px 0px rgba(237,63,191, 0);
  color: #f8f8f8;
}

.button-text  {
  padding: 0px 13px;
  line-height: 1.5em;
  font-size: 18px;
}

/*----------------- at hover -----------------*/

.general-button:hover  {
  top: -3px;
  transition: all 30ms;
  -moz-transition: all 30ms;
  -webkit-transition: all 30ms;
  -o-transition: all 30ms;
  background-color: #f37cd3;
}

.general-button:hover:before  {
  border-bottom: 3px solid rgba(237,63,191, 0);
  transition: all 30ms;
  -moz-transition: all 30ms;
  -webkit-transition: all 30ms;
  -o-transition: all 30ms;
}

.general-button:hover .button-content  {
  box-shadow: 0px 3px 0px 0px rgba(237,63,191, 1);
  transition: all 30ms;
  -moz-transition: all 30ms;
  -webkit-transition: all 30ms;
  -o-transition: all 30ms;
}

/*----------------- at active -----------------*/

.general-button:active  {
  background-color: #ef56c7;
  box-shadow: 0px 1.6px 0px 0px rgba(235,39,183, 1) inset;
}

.general-button:active:before  {
  top: -3px;
  padding-bottom: 3px;
  border-bottom: 0px solid rgba(237,63,191, 0);
}

.general-button:active .button-content  {
  box-shadow: 0px 0px 0px 0px rgba(237,63,191, 0);
}

/*------------------------------------------
// User style end
----------------------------------------- */

/*------------------------------------------
// Core style start
// not change
----------------------------------------- */

.general-button  {
  display: -moz-inline-box;
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;transition: all 0ms;
  -moz-transition: all 0ms;
  -webkit-transition: all 0ms;
  -o-transition: all 0ms;position: relative;
  top: 0px;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}

.general-button:before  {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button-content  {
  display: table;
  transition: all 0ms;
  -moz-transition: all 0ms;
  -webkit-transition: all 0ms;
  -o-transition: all 0ms;
}

.button-text  {
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
}

/*----------------- at hover -----------------*/

.general-button:hover  {
  transition-timing-function: ease-in-out;
}

.general-button:hover:before  {
  transition-timing-function: ease-in-out;
}

.general-button:hover .button-content  {
  transition-timing-function: ease-in-out;
}

/*----------------- at active -----------------*/

.general-button:active  {
  top: 0px;
  transition: all 0ms;
  -moz-transition: all 0ms;
  -webkit-transition: all 0ms;
  -o-transition: all 0ms;
}

.general-button:active:before  {
  transition: all 0ms;
  -moz-transition: all 0ms;
  -webkit-transition: all 0ms;
  -o-transition: all 0ms;
}

.general-button:active .button-content  {
  transition: all 0ms;
  -moz-transition: all 0ms;
  -webkit-transition: all 0ms;
  -o-transition: all 0ms;
}

/*------------------------------------------
// Core style end
----------------------------------------- */

/*------------------------------------------
// Touch style start
----------------------------------------- */

/*----------------- at hover -----------------*/

.touch .general-button:hover  {
  top: 0px;
  background-color: #f26ecf;
}

.touch .general-button:hover:before  {
  border-bottom: 0px solid rgba(237,63,191, 0);
}

.touch .general-button:hover .button-content  {
  box-shadow: 0px 0px 0px 0px rgba(237,63,191, 1);

}

/*----------------- at active -----------------*/

.touch .general-button:active  {
  background-color: #ef56c7;
  box-shadow: 0px 1.6px 0px 0px rgba(235,39,183, 1) inset;
}

.touch .general-button:active:before  {
  top: -3px;
  padding-bottom: 3px;
  border-bottom: 0px solid rgba(237,63,191, 0);
}

.touch .general-button:active .button-content  {
  box-shadow: 0px 0px 0px 0px rgba(237,63,191, 0);
}

/*------------------------------------------
// Touch style end
----------------------------------------- */
