body {
  font-family: 'Open Sans', sans-serif;
}

.hide {
  display: none;
}

.shop-top {
  width: 100%;
  height: 845px;
  background-color: #f5f5f5;
}

.shop-layer {
  width: 1100px;
  height: 845px;
  margin: auto;

}

.shop-bottom {
  width: 100%;
  height: 690px;
}

.shop-title {
  width: 100%;
  height: 165px;

}

.shop-left {
  width: 685px;
  height: 440px;
  float: left;

}

.shop-right {
  width: 415px;
  height: 440px;
  float: right;

}

.shop-right-top {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;

}

.shop-right-middle {
  width: 100%;
  height: 100px;
}

.shop-right-bottom {
  width: 100%;
  height: 100px;
  margin-top: 30px;

}

.shop-owner-info {
  width: 415px;
  height: 100%;
  float: left;

}

.shop-owner-description {
  float: left;
}

.shop-owner-icon {
  width: 200px;
  height: 100%;
  float: right;

}

.shop-top-bottom {
  width: 100%;
  height: 240px;
  float: left;

}

.shop-story, .shop-comment {
  height: 900px;

}

h2 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  padding: 50px 0 25px 0;
  line-height: 150%;
}

/* shop-title */
.shop-titile {
  padding: auto;
}

.shop-title-list {
  text-align: center;
}

.shop-title-list li {
  display: inline;
  margin: auto;
  color: #8d8f8f;
  margin: 0 10px 0 10px;
}

.shop-title-list li span {
  margin-left: 10px;
}

/* shop-left */
.shop-right-top h1 {
  font-size: 64px;
  font-weight: bold;
  padding: 20px 0 10px 0;
}

.shop-right-top p {
  font-size: 22px;
  color: #8d8f8f;
}

.shop-owner-description {
  padding-top: 10px;
}

h3 {
  font-size: 26px;
  margin-bottom: 5px;
}

.shop-owner-description p {
  margin-bottom: 5px;
}

.shop-social-icon li {
  display: inline;
}

.shop-main-owner-img {
  margin-top: 10px;
}

.shop-share-button {
  text-align: center;
}

.shop-share-button li {
  display: inline;
  margin: 10 10 10 10;
  font-size: 14px;
  color: #8d8f8f;
}
/* nav */
.global-shop {
  width: 960px;
  margin: auto;
}

.shop-nav {
  float: left;
  width: 100%;
  height: 100px;
  display: block;
}

.shop-nav li {
  display: inline-block;
  font-size: 16px;
  margin-top: 30px;
  padding: 0 20px 0 20px;
}

/* story-contents */
.shop-story-contents {
  margin: 100px;
}

.shop-story-contents h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.shop-story-contents p {
  font-size: 13px;
}

/* comment-contents */

.shop-comment {
  float: left;
}

.shop-one-comment {
  width: 960px;
  height: 120px;
  padding-top: 20px;
  border-top: solid 2px #8d8f8f;
}

.shop-one-comment-left {
  margin-left: 20px;
  float: left;
}

.shop-one-comment-right {
  float: left;
  margin: 20px 0px 0px 100px;
}

.shop-one-comment-name {
  font-size: 16px;
  font-weight: bold;
}

.shop-comment-area {
  text-align: center;
  margin-top: 300px;
}

.shop-comment-area textarea {
  width: 960px;
  height: 140px;
  padding:10px;
  font-size:12px;
  font-family:Arial, sans-serif;
  color:#aaa;
  border:solid 1px #ccc;
  border-radius: 5px;
  margin:0 0 20px;
  -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
  }

  /* button */
  @font-face {
    font-family: "LigatureSymbols";
    src: url("../font/LigatureSymbols-2.11.eot");
    src: url("../font/LigatureSymbols-2.11.eot?#iefix") format("embedded-opentype"),
             url("../font/LigatureSymbols-2.11.woff") format("woff"),
             url("../font/LigatureSymbols-2.11.ttf") format("truetype"),
             url("../font/LigatureSymbols-2.11.svg#LigatureSymbols") format("svg");
    font-weight: normal;
    font-style: normal;
  }

  /*------------------------------------------
  // User style start
  // change
  ----------------------------------------- */

  .general-button  {
    border-radius: 9px;
    background-color: #f26ecf;
  }

  .button-submit {
    margin: 10px 0 0 190px;
  }

  .order-button {
    margin: 40px 0px 0px -280px;
  }

  .general-button:before  {
    border-radius: 9px;
    border-bottom: 0px solid rgba(224,20,170, 0);
    background-color: rgba(224,20,170, 0);
  }

  .button-content  {
    border-radius: 0px 0px 9px 9px;
    padding: 12px 8.5px;
    box-shadow: 0px 0px 0px 0px rgba(224,20,170, 0);
    color: #f8f8f8;
  }

  .button-text  {
    padding: 0px 8.5px;
    line-height: 1.6em;
    font-size: 17px;
  }

  .icon-font  {
    padding: 0px 8.5px;
    font-size: 27px;
  }

  /*----------------- at hover -----------------*/

  .general-button:hover  {
    top: -2px;
    transition: all 59ms;
    -moz-transition: all 59ms;
    -webkit-transition: all 59ms;
    -o-transition: all 59ms;
    background-color: #f37cd3;
  }

  .general-button:hover:before  {
    border-bottom: 2px solid rgba(224,20,170, 0);
    transition: all 59ms;
    -moz-transition: all 59ms;
    -webkit-transition: all 59ms;
    -o-transition: all 59ms;
  }

  .general-button:hover .button-content  {
    box-shadow: 0px 2px 0px 0px rgba(224,20,170, 1);
    transition: all 59ms;
    -moz-transition: all 59ms;
    -webkit-transition: all 59ms;
    -o-transition: all 59ms;
  }

  /*----------------- at active -----------------*/

  .general-button:active  {
    background-color: #ef56c7;
    box-shadow: 0px 1.4px 0px 0px rgba(201,18,152, 1) inset;
  }

  .general-button:active:before  {
    top: -2px;
    padding-bottom: 2px;
    border-bottom: 0px solid rgba(224,20,170, 0);
  }

  .general-button:active .button-content  {
    box-shadow: 0px 0px 0px 0px rgba(224,20,170, 0);
  }

  /*------------------------------------------
  // User style end
  ----------------------------------------- */

  /*------------------------------------------
  // Core style start
  // not change
  ----------------------------------------- */

  .general-button  {
    display: -moz-inline-box;
    display: inline-block;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;transition: all 0ms;
    -moz-transition: all 0ms;
    -webkit-transition: all 0ms;
    -o-transition: all 0ms;position: relative;
    top: 0px;
    cursor: pointer;
    text-decoration: none;
    line-height: 1;
    left: 70%
  }

  .general-button:before  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .button-content  {
    display: table;
    transition: all 0ms;
    -moz-transition: all 0ms;
    -webkit-transition: all 0ms;
    -o-transition: all 0ms;
  }

  .button-text  {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
  }

  /*----------------- at hover -----------------*/

  .general-button:hover  {
    transition-timing-function: ease-in-out;
  }

  .general-button:hover:before  {
    transition-timing-function: ease-in-out;
  }

  .general-button:hover .button-content  {
    transition-timing-function: ease-in-out;
  }

  /*----------------- at active -----------------*/

  .general-button:active  {
    top: 0px;
    transition: all 0ms;
    -moz-transition: all 0ms;
    -webkit-transition: all 0ms;
    -o-transition: all 0ms;
  }

  .general-button:active:before  {
    transition: all 0ms;
    -moz-transition: all 0ms;
    -webkit-transition: all 0ms;
    -o-transition: all 0ms;
  }

  .general-button:active .button-content  {
    transition: all 0ms;
    -moz-transition: all 0ms;
    -webkit-transition: all 0ms;
    -o-transition: all 0ms;
  }

  /*------------------------------------------
  // Core style end
  ----------------------------------------- */

  /*------------------------------------------
  // Touch style start
  ----------------------------------------- */

  /*----------------- at hover -----------------*/

  .touch .general-button:hover  {
    top: 0px;
    background-color: #f26ecf;
  }

  .touch .general-button:hover:before  {
    border-bottom: 0px solid rgba(224,20,170, 0);
  }

  .touch .general-button:hover .button-content  {
    box-shadow: 0px 0px 0px 0px rgba(224,20,170, 1);

  }

  /*----------------- at active -----------------*/

  .touch .general-button:active  {
    background-color: #ef56c7;
    box-shadow: 0px 1.4px 0px 0px rgba(201,18,152, 1) inset;
  }

  .touch .general-button:active:before  {
    top: -2px;
    padding-bottom: 2px;
    border-bottom: 0px solid rgba(224,20,170, 0);
  }

  .touch .general-button:active .button-content  {
    box-shadow: 0px 0px 0px 0px rgba(224,20,170, 0);
  }

  /*------------------------------------------
  // Touch style end
  ----------------------------------------- */
