<section class="about-slider">
  <div class="jumbotron sliders">
    <h1>ABOUT</h1>
    <p>What is Playorder?</p>
  </div>
</section>

<div class="container">
  <div class="thanks">
    <h1>Playorder is Share Gift Service!</h1>
    <p>Awesome Product!</p>
  </div>

</div>
