<section class="thanks-slider">
  <div class="jumbotron sliders">
  </div>
</section>

<div class="container">
  <div class="thanks">
    <h1>Thanks so much!</h1>
    <p>Your message has already completed.<br>
      Enjoy share and, have a nice day!</p>
    <a href="./index.html">
      <button type="button" class="btn btn-danger">BACK HOME</button>
    </a>
  </div>

</div>
