<!-- slider -->
<section class="contact-slider">
  <!-- wear -->
  <div class="jumbotron sliders">
    <h1>CONTACT</h1>
    <p>Dont't hesitate to ask us, everything!</p>
  </div>

<div class="container">
  <div class="contact-form">
    <form>
      <fieldset class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        <small class="text-muted">We'll never share your email with anyone else.</small>
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleTextarea">Message</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
      </fieldset>
      <fieldset class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" class="form-control-file" id="exampleInputFile">
        <small class="text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
      </fieldset>
      <button type="submit" class="btn btn-danger">Submit</button>
    </form>
  </div>
</div>
