<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>playorder - confirmation</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
    /* nav-toggle */
    $(function(){
      $(".nav-index li").on("click" , function(){
        var num = $(".nav-index li").index(this);
        $(".contents").fadeOut();
        $(".contents").eq(num).fadeIn();
        $(".nav-index li").removeClass('select');
          $(".nav-index li").eq(num).addClass('select');
      });
    });
    </script>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <!-- slider -->
    <section class="feed-slider">
      <!-- wear -->
      <div class="jumbotron sliders">
        <div class="dropdown photo-icon">
          <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-search color-white" aria-hidden="true"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li>Update Photo</li>
          </ul>
        </div>
        <h1>Mr Tanaka Thanks day</h1>

        <p>You can enjoy share payment gift!</p>
      </div>
    </section>

    <div class="container sharepayment">

      <h1>Playorder Payment</h1>

      <!-- playshop information -->
      <section class="playment">
        <h2>Playshop Information</h2>
        <p>Your friend and family has picked up this playshop as a gift this time.</p>
        <%= render 'common/card' %>
      </section>

      <!-- playorderer -->
      <section class="player">
        <h2>Playorderer</h2>
        <p>Who organized this playorder events.</p>
        <ul class="ordererlist">
          <li>
            <%= image_tag "sharepayment/sharepayment-icon.png" %>
          </li>
          <li>
            <h3>Shun Yamada</h3>
            <p>Playorder</p>
          </li>
        </Ul>
        <div class="balloon">
          <span>Hey, whats up guys! I am Shun, freerider. So, let&#39;s get started celebration to your friends.</span>
        <div class="triangle"></div>
        </div>
      </section>

      <!-- payment information -->
      <section class="payment">
        <h2>Payment</h2>
        <p>Pay money you decided with your playorderers.</p>
        <!-- Vendor libraries -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.2.3/jquery.payment.min.js"></script>

        <!-- If you're using Stripe for payments -->
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
        <!-- You can make it whatever width you want. I'm making it full width
             on <= small devices and 4/12 page width on >= medium devices -->
        <div class="col-xs-12 col-md-4">


            <!-- CREDIT CARD FORM STARTS HERE -->
            <div class="panel panel-default credit-card-box">
                <div class="panel-heading display-table" >
                    <div class="row display-tr" >
                        <h3 class="panel-title display-td" >Payment Details</h3>
                        <div class="display-td" >
                            <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <form role="form" id="payment-form" method="POST" action="javascript:void(0);">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="cardNumber">CARD NUMBER</label>
                                    <div class="input-group">
                                        <input
                                            type="tel"
                                            class="form-control"
                                            name="cardNumber"
                                            placeholder="Valid Card Number"
                                            autocomplete="cc-number"
                                            required autofocus
                                        />
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-md-7">
                                <div class="form-group">
                                    <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                                    <input
                                        type="tel"
                                        class="form-control"
                                        name="cardExpiry"
                                        placeholder="MM / YY"
                                        autocomplete="cc-exp"
                                        required
                                    />
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group">
                                    <label for="cardCVC">CV CODE</label>
                                    <input
                                        type="tel"
                                        class="form-control"
                                        name="cardCVC"
                                        placeholder="CVC"
                                        autocomplete="cc-csc"
                                        required
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="couponCode">COUPON CODE</label>
                                    <input type="text" class="form-control" name="couponCode" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="subscribe btn btn-success btn-lg btn-block" type="button">Start Subscription</button>
                            </div>
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-xs-12">
                                <p class="payment-errors"></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- CREDIT CARD FORM ENDS HERE -->
        </div>
      </section>

        <!-- amount fee -->
        <section class="amount">
          <h2>Amount</h2>
          <p>You can pay order here</p>
          <h1>$200</h1>
        </section>

        <!-- pay button -->

        <section class="paybutton">
          <button type="button" class="btn btn-lg btn-danger">SUBMIT</button>
        </section>

    </div>

    <%= render 'layouts/footer' %>
  </body>
  <script>
  var $form = $('#payment-form');
  $form.find('.subscribe').on('click', payWithStripe);

  /* If you're using Stripe for payments */
  function payWithStripe(e) {
      e.preventDefault();

      /* Abort if invalid form data */
      if (!validator.form()) {
          return;
      }

      /* Visual feedback */
      $form.find('.subscribe').html('Validating <i class="fa fa-spinner fa-pulse"></i>').prop('disabled', true);

      var PublishableKey = 'pk_test_6pRNASCoBOKtIshFeQd4XMUh'; // Replace with your API publishable key
      Stripe.setPublishableKey(PublishableKey);

      /* Create token */
      var expiry = $form.find('[name=cardExpiry]').payment('cardExpiryVal');
      var ccData = {
          number: $form.find('[name=cardNumber]').val().replace(/\s/g,''),
          cvc: $form.find('[name=cardCVC]').val(),
          exp_month: expiry.month,
          exp_year: expiry.year
      };

      Stripe.card.createToken(ccData, function stripeResponseHandler(status, response) {
          if (response.error) {
              /* Visual feedback */
              $form.find('.subscribe').html('Try again').prop('disabled', false);
              /* Show Stripe errors on the form */
              $form.find('.payment-errors').text(response.error.message);
              $form.find('.payment-errors').closest('.row').show();
          } else {
              /* Visual feedback */
              $form.find('.subscribe').html('Processing <i class="fa fa-spinner fa-pulse"></i>');
              /* Hide Stripe errors on the form */
              $form.find('.payment-errors').closest('.row').hide();
              $form.find('.payment-errors').text("");
              // response contains id and card, which contains additional card details
              console.log(response.id);
              console.log(response.card);
              var token = response.id;
              // AJAX - you would send 'token' to your server here.
              $.post('/account/stripe_card_token', {
                      token: token
                  })
                  // Assign handlers immediately after making the request,
                  .done(function(data, textStatus, jqXHR) {
                      $form.find('.subscribe').html('Payment successful <i class="fa fa-check"></i>');
                  })
                  .fail(function(jqXHR, textStatus, errorThrown) {
                      $form.find('.subscribe').html('There was a problem').removeClass('success').addClass('error');
                      /* Show Stripe errors on the form */
                      $form.find('.payment-errors').text('Try refreshing the page and trying again.');
                      $form.find('.payment-errors').closest('.row').show();
                  });
          }
      });
  }
  /* Fancy restrictive input formatting via jQuery.payment library*/
  $('input[name=cardNumber]').payment('formatCardNumber');
  $('input[name=cardCVC]').payment('formatCardCVC');
  $('input[name=cardExpiry').payment('formatCardExpiry');

  /* Form validation using Stripe client-side validation helpers */
  jQuery.validator.addMethod("cardNumber", function(value, element) {
      return this.optional(element) || Stripe.card.validateCardNumber(value);
  }, "Please specify a valid credit card number.");

  jQuery.validator.addMethod("cardExpiry", function(value, element) {
      /* Parsing month/year uses jQuery.payment library */
      value = $.payment.cardExpiryVal(value);
      return this.optional(element) || Stripe.card.validateExpiry(value.month, value.year);
  }, "Invalid expiration date.");

  jQuery.validator.addMethod("cardCVC", function(value, element) {
      return this.optional(element) || Stripe.card.validateCVC(value);
  }, "Invalid CVC.");

  validator = $form.validate({
      rules: {
          cardNumber: {
              required: true,
              cardNumber: true
          },
          cardExpiry: {
              required: true,
              cardExpiry: true
          },
          cardCVC: {
              required: true,
              cardCVC: true
          }
      },
      highlight: function(element) {
          $(element).closest('.form-control').removeClass('success').addClass('error');
      },
      unhighlight: function(element) {
          $(element).closest('.form-control').removeClass('error').addClass('success');
      },
      errorPlacement: function(error, element) {
          $(element).closest('.form-group').append(error);
      }
  });

  paymentFormReady = function() {
      if ($form.find('[name=cardNumber]').hasClass("success") &&
          $form.find('[name=cardExpiry]').hasClass("success") &&
          $form.find('[name=cardCVC]').val().length > 1) {
          return true;
      } else {
          return false;
      }
  }

  $form.find('.subscribe').prop('disabled', true);
  var readyInterval = setInterval(function() {
      if (paymentFormReady()) {
          $form.find('.subscribe').prop('disabled', false);
          clearInterval(readyInterval);
      }
  }, 250);
  </script>
</html>
