body {
  min-width: 1200px;
  max-width: 1366px;
}

/* global-nav */
.global-nav {
  float: left;
  width: 840px;
  text-align: center;
  display: block;
}

.global-nav li {
  display: inline-block;
  font-size: 16px;
  margin-top: 30px;
  padding: 0 20px 0 20px;
}

.global-nav {
  width: 100%;
  height: 100px;
}

/* card */

.ca-all-contents-list {
  margin-left: 8.5%;
}

.card {
  border: 3px solid #8d8f8f;
  border-radius: 5px;
  box-shadow: 0 5px 3px -3px rgba(0,0,0,0.4);
  background-color: #fff;
  width: 305px;
  height: 440px;
  float: left;
  margin: 0px 0px 20px 30px;
  padding: 0 10px 15px 10px;
}

.card-img {
  margin: 0 0px 20px -10px;
}

.info {
  float: left;
  margin-left: 10px;
  font-size: 12px;
  color: #8d8f8f;
}

.price {
  float: right;
  margin-right: 10px;
  font-size: 12px;
}

.card-info h3 {
  clear: both;
  text-align: center;
  padding-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.card-info p {
  width: 200px;
  height: 40px;
  margin: auto;
  font-size: 10px;
  margin-top: 15px;
  line-height: 150%;
}

.card-line {
  margin: 40px 0px 15px 14px;
}

.card-icon {
  margin-left:20px;
}

.nametag {
  float: right;
  margin: 5px 40px 0 0;
  line-height: 120%
}

.nametag .namae {
  font-size: 14px;
}

.nametag .shozoku {
  font-size: 12px;
  color: #8d8f8f;
}
