<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>playorder - confirmation</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
    /* nav-toggle */
    $(function(){
      $(".nav-index li").on("click" , function(){
        var num = $(".nav-index li").index(this);
        $(".contents").fadeOut();
        $(".contents").eq(num).fadeIn();
        $(".nav-index li").removeClass('select');
          $(".nav-index li").eq(num).addClass('select');
      });
    });
    </script>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <!-- payment slider -->
    <section class="payment-slider">
      <!-- wear -->
      <div class="jumbotron sliders">
        <h1>CONFIRMATION</h1>
        <p>Final confirmation your Playorder!</p>
      </div>
    </section>

    <div class="container">
    <!-- payment confirmation -->
    <section class="confirmation">
      <div class="conroll">
        <h2>Recipant</h2>
        <ul class='confirmation-contents'>
          <li>Kouichi Tanaka</li>
          <li>Instabed<span class='blank'></span>+81 90 7614 7412</li>
          <li>755 Ofarrel Street, San Francisco, CA</li>
          <li><strong>Order Deadline :</strong>16th April, 2016</li>
        </ul>
      </div>

      <div class="conroll">
        <h2>Write a Note</h2>
        <ul class='confirmation-contents'>
          <li><span class='grey'>TO: </span>Kouichi<span class='blank'></span><span class='grey'>FROM: </span>Shun</li>
          <li>Thanks so much everyday, its helpful for us to do.This is present for you with Yuuki.</li>
          <li><span class='grey-comment'>Shipping: 15th March, and please be surprising</span></li>
        </ul>
      </div>

      <div class="conroll">
        <h2>Share Order</h2>
        <div class='confirmation-roll'>
          <ul class='confirmation-contents'>
            <li>shunyamady@gmail.com</li>
          </ul>
        </div>
      </div>
    </section>

    <!-- payment card -->
    <section class="confirmation-card">
      <%= render 'common/card' %>
    </section>

    <section class="confirm-button">
      <a href="./thanks.html">
        <button type="button" class="btn btn-danger btn-lg">SUBMIT</button>
      </a>
    </section>

    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
