    <section class="payment-slider">
      <!-- wear -->
      <div class="jumbotron sliders">
        <h1>PAYMENT</h1>
        <p>You can enjoy share payment gift!</p>
      </div>
    </section>

    <div class="container">

      <section class="payment-card">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="./img/main/card-1.png" alt="image">
              <div class="caption">
                <p><span class="genre">WEAR</span></p>
                <h3>Global Pants</h3>
                <p>Tell us about your needs and we'll introduce you to several experienced professionals in your area who are ready to complete your project.</p>
                <p><img src="./img/index/card-line.png" /></p>
                <div class="card-icon">
                  <img src="./img/main/yuuki-cardicon.png" />
                </div>
                <div class="card-profile">
                  <p class="namae">Yuuki Asano</p>
                  <p class="shozoku">Realm</p>
                </div>
              </div>
            </div>
          </div>
      </section>

      <section class="payment-info">
        <nav class='global-nav'>
          <ul class='nav-index'>
            <li class='select'>RECIPANT</a></li>
            <li>WRITE A NOTE</a></li>
            <li>SHARE ORDER</a></li>
          </ul>
        </nav>
        <!-- recipant -->
        <form class="contents">
          <div class="form-group">
            <label for="exampleInputPlayshop">Playshop Title</label>
            <input type="playshop" class="form-control" id="exampleInputPlayshop" placeholder="Playshop Title">
          </div>
          <div class="form-group">
            <label for="exampleInputFirst">First Name</label>
            <input type="firstname" class="form-control" id="exampleInputFirst" placeholder="First Name">
          </div>
          <div class="form-group">
            <label for="exampleInputLast">Last Name</label>
            <input type="lastname" class="form-control" id="exampleInputLast" placeholder="Last Name">
          </div>
          <div class="form-group">
            <label for="exampleInputAddress">Address</label>
            <input type="address" class="form-control" id="exampleInputAddress" placeholder="Address">
          </div>
          <div class="form-group">
            <label for="exampleInputZip">Zip Code</label>
            <input type="zipname" class="form-control" id="exampleInputZip" placeholder="Zip Code">
          </div>
          <div class="form-group">
            <label for="exampleInputZip">Order Deadline</label>
            <!-- Minimum Setup -->
              <div class="row">
                <div class='col-sm-6'>
                  <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                      <input type='text' class="form-control" />
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                       </span>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </form>

        <!-- write a note -->
        <form class="contents opace">
          <div class="form-group to">
            <label for="exampleInputAddress">To</label>
            <input type="to" class="form-control" id="exampleInputTo" placeholder="To">
          </div>
          <div class="form-group from">
            <label for="exampleInputFrom">From</label>
            <input type="from" class="form-control" id="exampleInputFrom" placeholder="From">
          </div>
          <div class="fomr-group message">
            <label for="exampleInputMessage">Message</lebel>
            <textarea class="form-control" rows="4" cols="120" placeholder="Message for"></textarea>
          </div>
          <div class="fomr-group reference">
            <label for="exampleInputReference">Reference</lebel>
            <textarea class="form-control" rows="4" cols="120" placeholder="Contact shopowner"></textarea>
          </div>
        </form>

        <!-- write a note -->
        <form class="contents opace">
          <div class="fomr-group ">
            <label for="exampleInputShare">Share With</lebel>
            <textarea class="form-control" rows="4" cols="120" placeholder="Please insert your sharemate account or mail address"></textarea>
          </div>
        </form>
        <a href="./confirmation.html">
          <button type="button" class="btn btn-danger">SUBMIT</button>
        </a>
      </section>
    </div>
