<!-- slider -->
<section class="feed-slider">
  <!-- wear -->
  <div class="jumbotron sliders camera">
    <div class="dropdown">
      <div type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <i class="glyphicon glyphicon-camera white"></i>
      </div>
      <ul class="dropdown-menu cameradown" aria-labelledby="dropdownMenu1">
        <li><a type="file">Upload Photo</a></li>
      </ul>
    </div>

    <h1>Mr Tanaka Thanks day</h1>

    <p>You can enjoy share payment gift!</p>
  </div>
</section>

<div class="container">

  <article class="feed-contents">
    <section class="feed-left">
      <%= render 'common/card' %>
    </section>

    <section class="feed-right">
      <div class="playorderer">
        <h2>Playorderer</h2>
        <ul class="ordererlist">
          <%= image_tag "sharepayment/sharepayment-icon.png" %>
          <li>
            <h3>Shun Yamada</h3>
            <p>Playorder</p>
          </li>
        </Ul>
        <div class="balloon">
          <span>Hey, whats up guys! I am Shun, freerider. So, let&#39;s get started celebration to your friends.</span>
        <div class="triangle"></div>
        </div>
      </div>

      <div class="totalfunds">
        <h2>Total Funds</h2>
        <div class="amount">
          <h1>$670</h1>
          <span>14days left</span>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              60%
            </div>
          </div>
        </div>
        <div class="fundbutton">
          <ul>
            <li>
              <a href="./thanks.html">
                <button type="button" class="btn btn-danger btn-lg">PLAY DONE</button>
              </a>
            </li>
            <li>
              <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#exampleModal">CONTRIBUTE</button>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </article>

  <!-- fund modal -->

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exampleModalLabel">Contribute tips to Playorder</h4>
        </div>
        <div class="modal-body">
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
              <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                <div class="input-group-addon">.00</div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <a href="./feed.html">
            <button type="button" class="btn btn-danger">Fund</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <script>
    $('#exampleModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var recipient = button.data('whatever') // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var modal = $(this)
      modal.find('.modal-title').text('New message to ' + recipient)
      modal.find('.modal-body input').val(recipient)
    })
  </script>


  <article class="feed-alt">

  <div class="container-3">
      <!-- global nav -->
      <nav class='global-nav'>
        <ul class='nav-index'>
          <li class="selected">ACTIVITY</li>
          <li>INVITE</li>
        </ul>
      </nav>
      <!-- activity -->
      <section class='activity contents'>
      <div class='talk'>
        <div class='talk-left'>
          <%= image_tag "feed/feed-icon.png" %>
          <p class='talk-name'>&nbsp;Shun</p>
        </div>
        <div class='talk-right'>
          <p>Hey! Wthat&#39;s up guys!</p>
        </div>
      </div>
      <textarea class="form-control" rows="5"></textarea>
      <button type="button" class="btn btn-danger btn-lg">SEND</button>
    </section>

      <!-- invite -->
      <section class='invite contents opace'>
        <div class='recipant-form'>
          <input type="text" class="form-control mail" placeholder="Insert account or email">
          <button type="button" class="btn btn-danger btn-lg">SEND</button>
        </div>
      </section>
    </article>
  </div>
</div>
