<!-- payment slider -->
<section class="payment-slider">
  <!-- wear -->
  <div class="jumbotron sliders">
    <h1>CONFIRMATION</h1>
    <p>Final confirmation your Playorder!</p>
  </div>
</section>

<div class="container">
<!-- payment confirmation -->
<section class="confirmation">
  <div class="conroll">
    <h2>Recipant</h2>
    <ul class='confirmation-contents'>
      <li>Kouichi Tanaka</li>
      <li>Instabed<span class='blank'></span>+81 90 7614 7412</li>
      <li>755 Ofarrel Street, San Francisco, CA</li>
      <li><strong>Order Deadline :</strong>16th April, 2016</li>
    </ul>
  </div>

  <div class="conroll">
    <h2>Write a Note</h2>
    <ul class='confirmation-contents'>
      <li><span class='grey'>TO: </span>Kouichi<span class='blank'></span><span class='grey'>FROM: </span>Shun</li>
      <li>Thanks so much everyday, its helpful for us to do.This is present for you with Yuuki.</li>
      <li><span class='grey-comment'>Shipping: 15th March, and please be surprising</span></li>
    </ul>
  </div>

  <div class="conroll">
    <h2>Share Order</h2>
    <div class='confirmation-roll'>
      <ul class='confirmation-contents'>
        <li>shunyamady@gmail.com</li>
      </ul>
    </div>
  </div>
</section>

<!-- payment card -->
<section class="confirmation-card">

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="./img/main/card-1.png" alt="image">
        <div class="caption">
          <p><span class="genre">WEAR</span></p>
          <h3>Global Pants</h3>
          <p>Tell us about your needs and we'll introduce you to several experienced professionals in your area who are ready to complete your project.</p>
          <p><img src="./img/index/card-line.png" /></p>
          <div class="card-icon">
            <img src="./img/main/yuuki-cardicon.png" />
          </div>
          <div class="card-profile">
            <p class="namae">Yuuki Asano</p>
            <p class="shozoku">Realm</p>
          </div>
        </div>
      </div>
    </div>


</section>

<section class="confirm-button">
  <a href="./thanks.html">
    <button type="button" class="btn btn-danger btn-lg">SUBMIT</button>
  </a>
</section>

</div>
