<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>playorder - about</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
    /* nav-toggle */
    $(function(){
      $(".nav-index li").on("click" , function(){
        var num = $(".nav-index li").index(this);
        $(".contents").fadeOut();
        $(".contents").eq(num).fadeIn();
        $(".nav-index li").removeClass('select');
          $(".nav-index li").eq(num).addClass('select');
      });

      $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
      })

      $(".signout-button").on('click', function(){
        $(".signinpage").hide();
        $(".signoutpage").show();
      });

      $(".signin-button").on('click', function(){
        $(".signoutpage").show();
        $(".signinpage").hide();
      });

    });
    </script>
  </head>
  <body>
    <!-- header -->
    <header class="container">
      <nav class="navbar">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./index.html">
              <img src="./img/header/logo.png" />
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="./discover.html">Discover</a></li>
              <li><a href="./startup.html">Startup</a></li>
              <li><a href="./about.html">About</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="search" class="btn btn-default">Search</button>
            </form>

            <!-- signin menu -->
            <ul class="nav navbar-nav navbar-right signinpage">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <%= image_tag "header-icon.png" %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="./account.html">Profile</a></li>
                  <li><a href="./account.html">Activity</a></li>
                  <li><a href="./account.html">Message</a></li>
                  <li><a href="./account.html">PlayShop</a></li>
                  <li><a href="./setting.html">Settings</a></li>
                  <li><a class="signout-button">Sign Out</a></li>
                </ul>
              </li>
            </ul>

            <!-- signout menu -->
            <ul class="nav navbar-nav navbar-right signoutpage opace">
              <li><a data-toggle="modal" data-target="#exampleModal">Login</a></li>
              <li><a href="./signup.html">Signup</a></li>
            </ul>

            <!-- Login Modal -->

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Login</h4>
                  </div>
                  <div class="modal-body loginmodal">
                    <form class="form-horizontal">

                      <a class="btn btn-block btn-social btn-facebook">
                        <span class="fa fa-facebook"></span> Sign in with Facebook
                      </a>

                      <a class="btn btn-block btn-social btn-twitter">
                        <span class="fa fa-twitter"></span> Sign in with Twitter
                      </a>

                      <div class="login-or">
                        <hr class="hr-or">
                        <span class="span-or">or</span>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                          <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox">Remember me
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-danger signinbutton">Sign in</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </header>

    <!-- payment slider -->
    <section class="account-slider">
      <div class="jumbotron sliders">
        <h1>ACCOUNT</h1>
        <p>More enjoy playshop, enjoy your life!</p>
      </div>
    </section>

    <div class="container">

      <!-- global nav -->
      <nav class='global-nav'>
        <ul class='nav-index'>
          <li class="selected">PROFILE</li>
          <li>ACTIVITY</li>
          <li>MESSAGE</li>
          <li>PLAYSHOP</li>
        </ul>
      </nav>
      <!-- profile -->
      <section class="myaccount contents">
        <%= image_tag "account/profile-icon.png" %>
        <ul class="profile-text">
          <li class="pronamae">Shun Yamada</li>
          <li class="proshozoku">Playorder</li>
        </ul>
      </section>

      <!-- my activity -->
      <section class="myactivity contents opace">
        <p class="dates">12th March</p>
        <a href="./shop.html">
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <%= image_tag "main/card-1.png" %>
                <div class="caption">
                  <p><span class="genre">WEAR</span></p>
                  <h3>Global Pants</h3>
                  <p>Tell us about your needs and we'll introduce you to several experienced professionals in your area who are ready to complete your project.</p>
                  <p><%= image_tag "index/card-line.png" %></p>
                  <div class="card-icon">
                    <%= image_tag "main/yuuki-cardicon.png" %>
                  </div>
                  <div class="card-profile">
                    <p class="namae">Yuuki Asano</p>
                    <p class="shozoku">Realm</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </section>

      <!-- message -->
      <section class="message contents opace">
        <div class="inbox">
          <table class="table">
            <th>
              Inbox
            </th>
            <tr>
              <td><%= image_tag "account/yuuki-chat.png" %></td>
              <td colspan="2">Yuuki Asano</td>
            </tr>
            <tr>
              <td><%= image_tag "account/yukke-chat.png" %></td>
              <td colspan="2">Yukke Nakam</td>
            </tr>
          </table>
        </div>

        <!-- Yuuki conversation -->
        <section class="inspiration">
          <!-- one comment -->
          <div class="conversation">
            <div class="chatbox">
              <div class="chaticon">
                <%= image_tag "account/shun-conversation.png" %>
              </div>
              <div class="chatname">
                <h4>Shun Yamada</h4>
              </div>
              <div class="chatconversation">
                <p>Hey man! How long does it talk to send over?</p>
              </div>
            </div>
          </div>

          <!-- one comment -->
          <div class="conversation">
            <div class="chatbox">
              <div class="chaticon">
                <%= image_tag "account/shun-conversation.png" %>
              </div>
              <div class="chatname">
                <h4>Shun Yamada</h4>
              </div>
              <div class="chatconversation">
                <p>What's up guy!</p>
              </div>
            </div>
          </div>

          <!-- one comment -->
          <div class="conversation">
            <div class="chatbox">
              <div class="chaticon">
                <%= image_tag "account/yuuki-conversation.png" %>
              </div>
              <div class="chatname">
                <h4>Yuuki Asano</h4>
              </div>
              <div class="chatconversation">
                <p>Unko now!</p>
              </div>
            </div>
          </div>

          <!-- one comment -->
          <div class="conversation">
            <div class="chatbox">
              <div class="chaticon">
                <%= image_tag "account/shun-conversation.png" %>
              </div>
              <div class="chatname">
                <h4>Shun Yamada</h4>
              </div>
              <div class="chatconversation">
                <p>Oh I see.</p>
              </div>
            </div>
          </div>

      </section>

      <!-- yukke conversation -->
      <section class="inspiration opace">
        <!-- one comment -->
        <div class="conversation">
          <div class="chatbox">
            <div class="chaticon">
              <%= image_tag "account/shun-conversation.png" %>
            </div>
            <div class="chatname">
              <h4>Shun Yamada</h4>
            </div>
            <div class="chatconversation">
              <p>Coca Cola man!</p>
            </div>
          </div>
        </div>

        <!-- one comment -->
        <div class="conversation">
          <div class="chatbox">
            <div class="chaticon">
              <%= image_tag "account/yukke-conversation.png" %>
            </div>
            <div class="chatname">
              <h4>Yusuke Nakamu</h4>
            </div>
            <div class="chatconversation">
              <p>We are Sangokushi</p>
            </div>
          </div>
        </div>

        <!-- one comment -->
        <div class="conversation">
          <div class="chatbox">
            <div class="chaticon">
              <%= image_tag "account/shun-conversation.png" %>
            </div>
            <div class="chatname">
              <h4>Shun Yamada</h4>
            </div>
            <div class="chatconversation">
              <p>Oh I see.</p>
            </div>
          </div>
        </div>

      </section>

      <section class="sendmail">
        <textarea class="form-control" rows="5"></textarea>
        <button type="button" class="btn btn-danger">SEND</button>
      </section>

      </section>

      <!-- playshop -->
      <section class="playshop contents opace">
        <p class="dates">18th March</p>
        <a href="./shop.html">
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <%= image_tag "main/card-2.png" %>
                <div class="caption">
                  <p><span class="genre">WEAR</span></p>
                  <h3>Iron man Mask</h3>
                  <p>Tell us about your needs and we'll introduce you to several experienced professionals in your area who are ready to complete your project.</p>
                  <p><%= image_tag "index/card-line.png" %></p>
                  <div class="card-icon">
                    <%= image_tag "main/yukke-cardicon.png" %>
                  </div>
                  <div class="card-profile">
                    <p class="namae">Yusuke Nakam</p>
                    <p class="shozoku">Startup Cast</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </section>
    </div>
</div>

    <!-- footer -->
    <footer>
      <ul class='social-icon'>
        <li><a href='#'><%= image_tag "footer/facebook.png" %></a></li>
        <li><a href='#'><%= image_tag "footer/twitter.png" %></a></li>
        <li><a href='#'><%= image_tag "footer/youtube.png" %></a></li>
        <li><a href='#'><%= image_tag "footer/contact.png" %></a></li>
      </ul>
      <div class='footer-line'><%= image_tag "footer/footer-line.png" %></div>
      <ul class='general'>
        <li><a href='./index.html'>HOME</a></li>
        <li><a href='http://localhost:3000/static_page/about'>ABOUT</a></li>
        <li><a href='./contact.html'>CONTACT</a></li>
        <li><a href='./policy.html'>PLIBACY POLICY</a></li>
        <li><a href='./terms.html'>TERMS</a></li>
      </ul>
      <p class='copyright'>Copyright Playorder Inc, 2016 All Rights Reserved</p>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
