/* base */
a:hover {
	cursor: pointer;
}

ol, ul {
	list-style: none;
}
li a {
  color: #000;
}

.opace {
  display: none;
}

/* global nav */
.global-nav {
  display: block;
	width: 100%;
}
.global-nav li {
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  margin: 0px 35px 15px 0px;
}

.nav-index li:hover {
	color: #e460c1;
}

.main-nav-index li:hover {
	color: #e460c1;
}

/* header */
header {
  margin-top: 10px;
	height: 60px;
}

/* index - slider*/
.slider {
  text-align: center;
}
.slider .jumbotron {
  background:url('/images/index/slider-1.png') center no-repeat;
  background-size: cover;
  height: 520px;
}

.slider h1 {
  font-size: 72px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin-top: 100px;
}
.slider p.explain {
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
}
.carousel-caption h1 {
	font-size: 72px;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	margin-bottom: 40px;
}

/* ghost button */

.btn-ghost {
	background: transparent;
	margin-bottom: 90px;
}

.btn-ghost.btn-primary {
  color: #337ab7;
}

.btn-ghost.btn-white {
  color: #fff;
  border: 4px solid #fff;
}

.btn-ghost.btn-white:hover {
  color: #9e9a9a;
  background: #fff;
	opacity: 0.6;
}

.top-playshop {
	margin: 40px 0 20px 10px;
}

/* index - card roll */
.thumbnail {
  width: 242px;
  height: 415px;
}
.thumbnail h3 {
  margin-top: 10px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.thumbnail p{
  font-size: 10px;
  margin-bottom: 10px;
}
.thumbnail .genre {
  font-size: 8px;
  background-color: #f770d3;
  color: #fff;
  padding: 3px 10px;
  border: 1px solid #f42abe;
  border-radius: 5px;
}
.thumbnail:hover {
	opacity: 0.8;
}
.card li {
  display: inline-block;
  margin: 10px;
}
.card-icon {
  width: 35%;
  float: left;
  margin-top: -7px;
}
.card-profile {
  width: 55%;
  float: left;
  line-height: 70%
}
p.namae {
  font-size: 16px;
  font-weight: bold;
}

/* thumbnail circle */

.circle {
	line-height: 0;		/* remove line-height */
	display: inline-block;	/* circle wraps image */
	margin: 5px;
	border-radius: 50%;	/* relative value */
	border: 3px solid white;/* border width   */
	transition: linear 0.25s;
}
.circle img {
	border-radius: 50%;	/* relative value for
				   adjustable image size */
}
a.circle { color: transparent; } /* IE fix: removes blue border */

/* discover cover */
.slider-index .jumbotron {
	background:url('/images/index/top-order.png') center no-repeat;
  background-size: cover;
  height: 480px;
	margin-bottom: 0;
}

.index-1 {
	text-align: left;
	padding:20px 0 0 70px;
	color: #fff
}

.index-1 .btn {
	margin: 20px 0 0 10px;
}

/* index - how it works */
.hiw-cover {
  background-color: #f5f5f5;
  /*padding-top: 40px;*/
  /*height: 440px;*/
}
.hiw {
  text-align: center;
  padding: 20px;
}
.hiw h2 {
  margin-bottom: 60px;
}
.how-it-works li {
  display: inline-block;
  /*margin: 0 100px 20px 0;*/
  padding: 0 50px 20px 50px;
}

.how-it-works li h2 {
  color: #ed65c8;
  font-size: 24px;
  margin: 34px 0 10px 0;
}

.how-it-works li p {
  color: #8d8f8f;
  font-size: 12px;
}

/* startup cover */

.slider-index-2 .jumbotron {
	background:url('/images/index/bottom-order.png') center no-repeat;
  background-size: cover;
  height: 480px;
	margin-bottom: 0;
}

.index-2 {
	text-align: right;
	padding:20px 70px 0 0;
	color: #fff
}

.index-2 .btn {
	margin: 20px 0 0 10px;
}

/* let's get started */
.getstarted {
	height: 300px;
	background-color: #fafafa;
	text-align: center;
	padding: 50px 0 80px 0;
}

.getstarted h2 {
	margin-top: 0;
}

.getstarted li {
	display: inline-block;
	margin: 20px 20px 0 0;
}

.btn-startorder {
	width: 150px;
	border: 4px solid #ed65c8;
	color: #e783ce;
	font-weight: bold;
}

.btn-startorder:hover {
	background-color: #ed65c8;
	color: #fff;
}

.btn-startup {
	width: 150px;
	background-color: #ed65c8;
	border: 4px solid #ed65c8;
	color: #fff;
	font-weight: bold;
}

.btn-startup:hover {
	color: #ed65c8;
	background-color: #fff;
}


/* discover */
.container-2 {
  padding-right: 80px;
  padding-left: 80px;
  margin-right: auto;
  margin-left: auto;
}

.discover-slider .jumbotron {
	background:url('/images/discover/discover.png') center no-repeat;
  background-size: cover;
  height: 320px;
	text-align: center;
}
.discover-slider h1 {
  font-size: 72px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin-top: 40px;
	letter-spacing: 0.3em;
}
.discover-slider p {
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

/* discover - side */

.discover-side {
	width: 20%;
	float: left;
}

.discover-side h2 {
	font-size: 24px;
	color: #eb64c7;
}

.bar li {
	font-size: 14px;
	line-height: 190%;
	cursor: pointer;
}

.discover-main {
	width: 80%;
	float: right;
}

/* discover - bottom */
.discover-bottom {
	width: 100%;
	float: right;
	text-align: center;
	margin-bottom: 100px;
}

/* shop */
.shop-cover {
	background-color: #f5f5f5;
	margin-bottom: 30px;
}

.shop-top {
	width: 100%;
	height: 870px;
}

.shop-bottom {
	width: 100%;
	height: 640px;
}

.bigsign {
	width: 100%;
	height: 15%;
}

.shop-middle {
	float: left;
	width: 100%;
	height: 60%;
}

.smallsign {
	float: left;
	width: 100%;
	height: 25%;
}

.shop-main {
	float: left;
	width: 60%;
	height: 100%;
}

.shop-main img {
	width: 550px;
}

.sright {
	float: right;
	width: 40%;
	height: 100%;
}

.number {
	float: left;
	width: 100%;
	height: 60%;
}

.shopbutton {
	float: left;
	width: 100%;
	height: 40%;
}

.shop-phase {
	float: left;
	width: 60%;
	height: 100%;
}

.profile {
	float:right;
	width: 40%;
	height: 100%;
	border-top: 2px solid #8d8f8f;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

/* shop */
.bigsign {
  padding: auto;
}

.title-list {
  text-align: center;
}

.bigsign h2 {
	text-align: center;
	padding: 35px 0 10px 0;
}

.title-list li {
  display: inline;
  margin: auto;
  color: #8d8f8f;
  margin: 0 10px 0 10px;
}

.title-list li span {
  margin-left: 10px;
}

.shop-main {
	padding: 40px 0 0 40px;
}

.number {
	padding-top: 20px;
}

.number h1 {
  font-size: 64px;
  font-weight: bold;
}

.number p {
  font-size: 18px;
  color: #8d8f8f;
}

.shopbutton {
	padding-top: 50px;
}

.shopbutton p {
	color: #8d8f8f;
}

.shop-phase {
	text-align: center;
	padding-top: 40px;
}

.shop-phase h2 {
	margin-bottom: 30px;
}

.share-b li {
  display: inline;
  font-size: 14px;
  color: #8d8f8f;
}

.owner-describe {
	float: left;
	padding-top: 30px;
}

.owner-icon {
	float: right;
	margin: 60px 200px 0 0;
}

.owner-describe h3, .owner-describe p {
	margin-left: 40px;
}

.social-i li {
	display: inline;
	text-align: left;
}

/* story */
.story-contents h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.story-contents p {
  font-size: 13px;
}

/* comment */
.comment {
  float: left;
}

.one-comment {
  width: 960px;
  height: 120px;
  padding-top: 20px;

}

.comment-left {
  margin-left: 20px;
  float: left;
}

.comment-right {
  float: left;
  margin: 20px 0px 0px 100px;
}

.comment-name {
  font-size: 16px;
  font-weight: bold;
}

.commentarea {
  text-align: center;
  margin-top: 120px;
}

.commentarea .btn {
	margin-left: 900px;
}

/* payment */
.payment-slider .jumbotron {
	background:url('/images/payment/payment.png') center no-repeat;
  background-size: cover;
  height: 320px;
	text-align: center;
}
.payment-slider h1 {
  font-size: 72px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin-top: 40px;
	letter-spacing: 0.3em;
}
.payment-slider p {
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.payment-card {
	float:left;
	width: 40%;
	height: 740px;
	padding-left: 120px;
	margin-top: 30px;
}

.payment-info {
	float: right;
	width: 60%;
	height: 740px;
	margin-top: 30px;
}

.payment-info form {
	padding: 30px;
}

.payment-info .btn {
	float: right;
}

.to {
	width: 40%;
	float: left;
	margin-right: 20px;
}

.from {
	width: 40%;
	float: left;
}

/* confirmation */
.confirmation {
	width: 50%;
	float: left;
}

.confirmation-card {
	width: 50%;
	height: 600px;
	float: right;
}

.confirmation-card .thumbnail {
		margin: 30px 0 0 70px;;
}

.conroll {
  width: 70%;
  height: 200px;
	float: right;
	margin-right: 30px;
}

.conroll h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.conroll ul {
  line-height: 180%;
  font-size: 16px;
}

.grey {
  color: #8d8f8f;
  margin-right: 10px;
  padding-left: 10px;
}

.confirm-button {
	text-align: center;
	margin-bottom: 100px;
}

/* thanks */
.thanks-slider .jumbotron {
	background:url('/images/main/thanks.png') center no-repeat;
  background-size: cover;
  height: 320px;
	text-align: center;
}

.thanks {
	height: 500px;
	line-height: 140%;
}

.thanks h1, .thanks p {
	margin-bottom: 30px;
}

/* feed */

.feed-slider .jumbotron {
	background:url('/images/feed/feed.png') center no-repeat;
  background-size: cover;
  height: 320px;
	text-align: center;
}
.feed-slider h1 {
  font-size: 72px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin-top: 40px;
	letter-spacing: 0.1em;
}
.feed-slider p {
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
	cursor: pointer;
}

/* feed */
.feed-contents {
	width: 100%;
	height: 520px;
	margin-bottom: 50px;
}

.feed-alt {
	width: 100%;
	height: 540px;
}

.feed-left {
	float: left;
	width: 40%;
	height: 100%;
}

.feed-right {
	float: right;
	width: 60%;
	height: 100%;
}

.playorderer {
	width: 100%;
	height: 50%;
}

.totalfunds {
	width: 100%;
	height: 50%;
}

.feed-left .thumbnail {
	float: left;
	margin: 20px 0  0 100px;
}

.container-3 {
	padding-right: 160px;
	padding-left: 160px;
}

.dropdown .glyphicon {
	padding-right: 1300px;
	padding-bottom: 10px
}

.camera {
	padding-top: 20px;
}

.cameradown {
	margin-left: 20px;
}

.white {
	color: white;
	font-size: 24px;
	opacity: 0.4;
}

.white:hover {
	opacity:1.0;
	cursor: pointer;
}

.amount {
	float: left;
	width: 70%;;
	height: 100%;
}

.fundbutton {
	float: right;
	width: 30%;
	height: 100%;
	margin-top: -350px;
}

.ordererlist li {
	margin-top: 30px;
	display: inline;
	float: left;
	margin-right: 20px;
}

.ordererlist img {
	margin: 10px 0 20px 0;
}

.ordererlist p {
	color: #8d8f8f;
}

.balloon {
  position: relative;
  width: 640px;
  height: 60px;
  background-color: #fbc8ed;
  text-align: center;
  border-radius: 5px;
  line-height: 160%;
  font-size: 14px;
	clear: both;
	margin-left: 35px;
	padding-top: 10px;
}
.balloon .triangle {
  position: absolute;
  top: -10px;
  left: 5%;
  margin-right: -10px;
  width: 0;
  height: 0;
  border-bottom: 10px solid #fbc8ed;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.amount h1 {
	font-size: 82px;
}
.amount span {
	padding-bottom: 10px;
	color: #8d8f8f;
}

.fundbutton li {
	margin-bottom: 30px;
}

/* activity */
.talk {
  width: 100%;
	height: 250px;
	margin-top: 30px;
  float: left;
}

.talk-left {
  margin-left: 20px;
  float: left;
}

.talk-right {
  float: left;
  margin: 20px 0px 0px 100px;
}

.talk-name {
  font-size: 16px;
  font-weight: bold;
}

.feed-alt textarea, .mail {
	width: 800px;
}

.feed-alt button {
	margin: 20px 0 0 720px;
}

/* account */
.account-slider .jumbotron {
	background:url('/images/account/account.png') center no-repeat;
  background-size: cover;
  height: 320px;
	text-align: center;
}
.account-slider h1 {
  font-size: 72px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin-top: 40px;
	letter-spacing: 0.3em;
}
.account-slider p {
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
	cursor: pointer;
}

.myaccount, .myactivity, .message, .playshop {
	margin-top: 30px;
}

.myaccount {
	width: 400px;
	height: 400px;
}

.myactivity, .playshop {
	width: 600px;
	height: 740px;
}

.myactivity .row, .playshop .row {
	padding: 10px;
}

.pronamae {
	font-size: 20px;
	font-weight: bold;
}

.myaccount img {
	margin-left: 30px;
}

.myaccount ul {
	float: right;
	margin-right: 120px;
	margin-top: 10px;
}

.message p, .playshop p {
	font-size: 12px;
	color: #8d8f8f;
}

.message {
	width: 80%;
	height: 600px;
}

.inbox {
	width: 30%;
	height: 100%;
	float: left;
}

.conversation {
	width: 60%;
	height: 100%;
	float: right;
}

.inbox img {
	margin: 0px -30px 0px 35px;
}

.chatbox {
	width: 500px;
	height: 80px;
}

.chaticon {
	float: left;
	width: 80px;
	height: 100%;
	padding: 10px;
}

.chatname {
	float: right;
	width: 420px;
	height: 30%;
}

.chatconversation {
	float: right;
	width: 420px;
	height: 70%;
	padding-top: 20px;
}

.sendmail {
	width: 600px;
	margin: 0px 0px 0px 370px;
	padding-top: 40px;
}

.sendmail .btn {
	margin-top: 30px;
}


/* share */
.playment {
	float: left;
	width: 100%;
	height: 600px;
}

.payment {
	float: left;
	width: 100%;
	height: 500px;
}

.player {
	float: left;
	width: 100%;
	height: 400px;
}

.amount, .paybutton {
	float: left;
	width: 100%;
	height: 300px;
}

.sharepayment h1 {
	color: #f26ecf;
}

.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}

/* setting */
.setting-slider .jumbotron {
	background:url('/images/setting/setting.png') center no-repeat;
  background-size: cover;
  height: 320px;
	text-align: center;
}
.setting-slider h1 {
  font-size: 72px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin-top: 40px;
	letter-spacing: 0.3em;
}
.setting-slider p {
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
	cursor: pointer;
}

.update {
	width: 50%;
}

.update h2 {
	margin-bottom: 40px;
}

.update form {
	margin-bottom: 30px;
}

.update .btn {
	margin-bottom: 100px;
}

.set {
	margin-right: 30px;
}

/* startup */
.startup-slider .jumbotron {
	background:url('/images/start/startup.png') center no-repeat;
  background-size: cover;
  height: 320px;
	text-align: center;
}
.startup-slider h1 {
  font-size: 72px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin-top: 40px;
	letter-spacing: 0.3em;
}
.startup-slider p {
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
	cursor: pointer;
}

.exhibition, .basic, .startstory {
	width: 600px;

}

.basic, .startstory {
	height: 800px;
}

.city {
	float: left;
	width: 40%;
	margin-bottom: 80px;
}

.price {
	float: right;
	width: 40%;
	margin-bottom: 80px;
}

.startnav {
	clear: both;
}

.basic .form-group {
	margin-top: 50px;
	margin-bottom: 80px;
}

#startDelivery {
	width: 40px;
}

.basic span {
	float: left;
	font-size: 12px;
	color: #8d8f8f;
}
.basic-holder {
	margin-top: 50px;
}

.basic-holder li {
  margin-top: 60px;
}

.basic-holder select, .basic-holder input, .basic-holder img {
  margin: 20px 0px 20px 0px;
}

.basic-holder label {
  font-size: 12px;
  color: #8d8f8f;
}


.startbutton {
	margin: 200px 0 100px 0;
}

.inserturl {
	margin-bottom: 50px;
}

.sentaku input {
    display: none;
}

.form-group select {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-indent: 1em;
    background:#EEE url(../img_common/arw_select_down.png) no-repeat;
    background-size:20px 10px;
    background-position: right center;
		width: 100px;
		padding-left: 20px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    vertical-align: middle;
    border:1px solid #CCC;
    margin-bottom:5px;
}

.sentaku label{
    display: block;
    float: left;
    cursor: pointer;
    width: 100px;
    margin: 0;
    padding: 10px;
    background: #bdc3c7;
    color: #869198;
    font-size: 16px;
    text-align: center;
    line-height: 1;
    transition: .2s;
}
.sentaku label:first-of-type{
    border-radius: 3px 0 0 3px;
}
.sentaku label:last-of-type{
    border-radius: 0 3px 3px 0;
}
.sentaku input[type="radio"]:checked + .switch-on {
    background-color: #e67168;
    color: #fff;
}
.sentaku input[type="radio"]:checked + .switch-off {
    background-color: #e67168;
    color: #fff;
}

/* About */
.about-slider .jumbotron {
	background:url('/images/main/about.png') center no-repeat;
  background-size: cover;
  height: 320px;
	text-align: center;
}
.about-slider h1 {
  font-size: 72px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin-top: 40px;
	letter-spacing: 0.3em;
}
.about-slider p {
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
	cursor: pointer;
}

/* Contact */

.contact-slider .jumbotron {
	background:url('/images/main/contact.png') center no-repeat;
  background-size: cover;
  height: 320px;
	text-align: center;
}
.contact-slider h1 {
  font-size: 72px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin-top: 40px;
	letter-spacing: 0.3em;
}
.contact-slider p {
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
	cursor: pointer;
}

.contact-form {
	width: 600px;
	height: 600px;
	margin: 50px 0 0 100px;
}

/* view */
.view-slider .jumbotron {
	background:url('/images/view/view.png') center no-repeat;
  background-size: cover;
  height: 320px;
	text-align: center;
}
.view-slider h1 {
  font-size: 72px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin-top: 40px;
	letter-spacing: 0.3em;
}
.view-slider p {
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
	cursor: pointer;
}

.viewprofile {
	height: 400px;
}
.vieworder {
	height: 600px;
}
.viewshop {
	height: 600px;
}

.viewprofile p {
	color: #8d8f8f;
	margin-bottom: 20px;
}

.viewprofile img {
	margin-bottom: 60px;
}

/* login */
.login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
            margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
  }
  .hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
	}

/* signup */
	.loginmodal {
		padding:80px;
	}

	.signup {
		padding: 60px 120px 200px 50px;
	}

	.signup-slider .jumbotron {
		background:url('/images/main/signup.png') center no-repeat;
	  background-size: cover;
	  height: 320px;
		text-align: center;
	}
	.signup-slider h1 {
	  font-size: 72px;
	  font-weight: bold;
	  color: #fff;
	  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	  margin-top: 40px;
		letter-spacing: 0.3em;
	}
	.signup-slider p {
	  font-size: 18px;
	  color: #fff;
	  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	  margin-bottom: 10px;
		cursor: pointer;
	}


	/* footer */
	footer {
	  background-color: #1c2125;
	  width: 100%;
	  height: 200px;
	  clear:both;
	}

	.footer-nav li{
		display: inline-block;
		margin: 50px 10px 10px 0;
	}

	.footer-nav li a {
		color: #fff;
	}

	.under-nav li {
		color: #fafafa;
		display: inline-block;
		margin-right: 10px;
		font-size: 9px;
	}

	.under-nav li a {
		color: #fafafa;
		font-size: 9px;
	}
