
<!-- discover -->
<!-- slider -->
<section class="discover-slider">
  <!-- wear -->
  <div class="jumbotron sliders">
    <h1>WEAR</h1>
    <p>Show you the dress, boots or high-quality brands.</p>
  </div>
  <!-- eat -->
  <div class="jumbotron sliders opace">
    <h1>EAT</h1>
    <p>Show you the dress, boots or high-quality brands.</p>
  </div>
  <!-- touch -->
  <div class="jumbotron sliders opace">
    <h1>TOUCH</h1>
    <p>Show you the dress, boots or high-quality brands.</p>
  </div>
  <!-- display -->
  <div class="jumbotron sliders opace">
    <h1>DISPLAY</h1>
    <p>Show you the dress, boots or high-quality brands.</p>
  </div>
  <!-- travel -->
  <div class="jumbotron sliders opace">
    <h1>TRAVEL</h1>
    <p>Show you the dress, boots or high-quality brands.</p>
  </div>
  <!-- listen -->
  <div class="jumbotron sliders opace">
    <h1>LISTEN</h1>
    <p>Show you the dress, boots or high-quality brands.</p>
  </div>

</section>

<div class="container-2">
  <!-- side -->
  <aside class="discover-side">
    <h2>Discover</h2>
    <ul class='bar nav-index'>
      <% @products.keys.each_with_index do |category, i| %>
        <li><%= category.upcase %></li>
      <% end %>
    </ul>
  </aside>

  <!-- main -->
  <section class="discover-main">
    <nav class="container global-nav">
      <ul class="nav main-nav-index">
        <li class="select">POPULAR</li>
        <li>PRICE</li>
        <li>NEW</li>
        <li>ARRIVING</li>
      </ul>
    </nav>

    <div class="discover-roll">
      <% @products.keys.each_with_index do |category, i| %>
        <% if i == 0 %>
          <ul class="contents card">
        <% else %>
          <ul class="contents card opace">
        <% end %>

        <% @products[category].each do |product| %>
          <%= render 'common/card', {:product => product, :category => category} %>
        <% end %>
        </ul>
      <% end %>

      <nav class="discover-bottom">
        <ul class="pager page-nav-index">
          <li><a href="#">Previous</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </section>
</div>
